<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>prod</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
                <dbUserName>fwtvyojstjnhjd</dbUserName>
                <dbUserPassword>269b4477bdd7fbeb113b8c52c2d6800df8f7a72f9c801543cf70de87a99ce7e8</dbUserPassword>
                <dbDriver>org.postgresql.Driver</dbDriver>
                <dbUrl>jdbc:postgresql://ec2-176-34-97-213.eu-west-1.compute.amazonaws.com:5432/dck3mrlt03oe65?sslmode=require</dbUrl>
                <maven.test.skip>false</maven.test.skip>
                <activatedProperties>prod</activatedProperties>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>prod</activeProfile>
    </activeProfiles>
</settings>