<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div id="pages">
    <div class="active page d-flex justify-content-center" id="page_welcome">
        <form>
            <h1>Login as:</h1>
            <div class="welcome_options align-self-center">
                <button type="button" id="login_as_buyer" class="btn btn-primary">Käufer</button>
                <button type="button" id="login_as_supplier" class="btn btn-primary">Lieferant</button>
            </div>
        </form>
    </div>

    <div class="page" id="page_login">
    </div>
    <div class="page" id="page_register">
        <form>
            <label text="" for="register_form_email" ></label><input type="text" id="register_form_email" />
        </form>
    </div>
    <div class="page" id="page_categories">

    </div>
    <div class="page" id="page_payment">
        <div class="row">
            <div class="col-75">
                <div class="container">
                    <form method="post"  action="/pay">
                        <div class="col-50">
                            <h3>Payment</h3>
                            <label>Accepted Cards</label>
                            <div class="icon-container">
                                <i class="fa fa-cc-visa" style="color:navy;"></i>
                                <i class="fa fa-cc-amex" style="color:blue;"></i>
                                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                <i class="fa fa-cc-discover" style="color:orange;"></i>
                            </div>
                            <label for="price">Total</label>
                            <input type="text" id="price" name="price" value="10">
                            <label for="currency">Currency</label>
                            <input type="text" id="currency" name="currency" placeholder="Enter Currency">
                            <label for="method">Payment Method</label>
                            <input type="text" id="method" name="method" placeholder="Payment Method">
                            <label for="intent">Intent</label>
                            <input type="text" id="intent" name="intent" value="sale">
                            <label for="description">Payment Description</label>
                            <input type="text" id="description" name="description" placeholder="Payment Description">

                        </div>

                        <input type="submit" value="Continue to checkout" class="btn">
                    </form>
                </div>
            </div>
            <div class="col-25">
                <div class="container">
                    <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>4</b></span></h4>
                    <p><a href="#">Product 1</a> <span class="price">$1</span></p>
                    <p><a href="#">Product 2</a> <span class="price">$4</span></p>
                    <p><a href="#">Product 3</a> <span class="price">$3</span></p>
                    <p><a href="#">Product 4</a> <span class="price">$2</span></p>
                    <hr>
                    <p>Total <span class="price" style="color:black"><b>$10</b></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/src/main.js"></script>
</body>
</html>
